.icon-48-projets {
      background-image: url(../images/l_projets.png);
      padding-left:60px!important;
}

.icon-48-ajouterprojet {
      background-image: url(../images/l_projets.png);
      padding-left:60px!important;
}

.icon-48-listesvn {
      background-image: url(../images/l_listesvn.png);
      padding-left:60px!important;
}

.icon-48-svn {
      background-image: url(../images/l_listesvn.png);
      padding-left:60px!important;
}

.icon-48-listevps {
      background-image: url(../images/l_listevps.png);
      padding-left:60px!important;
}

.icon-48-vps {
      background-image: url(../images/l_listevps.png);
      padding-left:60px!important;
}

